<div class="app-layout">

    

  </div>




    <h1>Add Log Source</h1>
    <div class="add-log-source-container">
      <div class="log-category">
        <h2>System Logs</h2>
        <div class="log-options">
          <div class="log-option">
            <mat-icon>linux</mat-icon>
            <span>Linux</span>
          </div>
          <div class="log-option">
            <mat-icon>windows</mat-icon>
            <span>Windows</span>
          </div>
          <div class="log-option">
            <mat-icon>device_hub</mat-icon>
            <span>Network Device</span>
          </div>
        </div>
      </div>
      <div class="log-category">
        <h2>Application Logs</h2>
        <div class="log-options">
          <div class="log-option">
            <mat-icon>storage</mat-icon>
            <span>Apache Server</span>
          </div>
          <div class="log-option">
            <mat-icon>dns</mat-icon>
            <span>IIS Server</span>
          </div>
          <div class="log-option">
            <mat-icon>database</mat-icon>
            <span>MySQL Server</span>
          </div>
          <div class="log-option">
            <mat-icon>code</mat-icon>
            <span>PHP</span>
          </div>
        </div>
      </div>
      <div class="log-category">
        <h2>File Monitoring</h2>
        <div class="log-options">
          <div class="log-option">
            <mat-icon>insert_drive_file</mat-icon>
            <span>Linux Files</span>
          </div>
          <div class="log-option">
            <mat-icon>description</mat-icon>
            <span>Windows Files</span>
          </div>
        </div>
      </div>
      <div class="log-category">
        <h2>Archived Logs</h2>
        <div class="log-options">
          <div class="log-option">
            <mat-icon>archive</mat-icon>
            <span>Import From File</span>
          </div>
        </div>
      </div>
    </div>

