/* styles.scss */

/* Styles globaux pour le mode sombre */
body.night-mode {
  background-color: #2c2c2c;
  color: #f1f1f1;
}

body.night-mode .topbar {
  background-color: #444;
}

body.night-mode .header-button {
  background-color: #555;
}

body.night-mode .header-button:hover {
  background-color: #666;
}

body.night-mode .header-button:active {
  background-color: #777;
}

/* Autres styles spécifiques pour le mode sombre */
body.night-mode .mat-form-field {
  color: #f1f1f1;
}

body.night-mode .mat-icon-button {
  color: #f1f1f1;
}

body.night-mode .card {
  background-color: #3c3c3c;
  color: #f1f1f1;
}

/* Styles pour les autres éléments de l'application */
.app-layout {
  display: flex;
}
/* Supposons que la classe identifiée soit .sidebar-black-band */
.sidebar-black-band {
  display: none; /* Cache l'élément */
}

/* Ou ajustez le style pour qu'il corresponde mieux à votre design */
.sidebar-black-band {
  background-color: transparent; /* Change la couleur de fond */
  height: 0; /* Ajuste la hauteur */
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
}

.content {
  flex: 1;
  padding: 20px;
}
