<mat-toolbar class="topbar" style="background-color: #777cb4;" [ngClass]="{ 'night-mode': isNightMode }">
  <!-- Logo de l'application -->
  <button mat-button *ngIf="showToggle" (click)="handleMenuButtonClick()">
    <img src="/assets/images/logos/progress.png" alt="App Logo" class="app-logo" (click)="handleLogoClick()">
  </button>

  <!-- Liens de navigation -->
  <a mat-button href="/help">Help</a>
  <span class="flex-1-auto"></span>

  <!-- Notifications button -->
  <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" matTooltip="Notifications">
    <i-tabler class="d-flex" name="bell" [matBadge]="unreadNotifications" matBadgeColor="primary"></i-tabler>
  </button>

  <!-- Notifications Menu -->
  <mat-menu #notificationsMenu="matMenu" class="notifications-menu">
    <div class="notifications-header">
      <h3>NOTIFICATIONS</h3>
      <button mat-icon-button (click)=" markAsRead()" matTooltip="Clear all notifications">
        <mat-icon>clear_all</mat-icon>
      </button>
    </div>
    <div class="notifications-body">
      <ng-container *ngIf="notifications.length > 0; else noNotifications">
        <ng-container *ngFor="let notification of notifications; let i = index">
          <div class="notification-item">
            <button mat-icon-button (click)="removeNotification(i)" matTooltip="Delete notification">
              <mat-icon>delete</mat-icon>
            </button>
            {{ notification.message }}
          </div>
        </ng-container>
      </ng-container>
      <ng-template #noNotifications>
        <div class="notification-item">{{ 'HEADER.NO_NOTIFICATIONS' | translate }}</div>
      </ng-template>
    </div>
  </mat-menu>

  <!-- Mode nuit/jour toggle button -->
  <button mat-icon-button (click)="toggleDayNightMode()">
    <mat-icon>brightness_4</mat-icon>
  </button>

  <!-- Profile Dropdown -->
  <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profile">
    <img [src]="profilePhotoUrl" class="rounded-circle object-cover" width="35" />
  </button>
  <mat-menu #profileMenu="matMenu" class="topbar-dd cardWithShadow">
    <a mat-menu-item [routerLink]="['/user-profile']">
      <mat-icon class="d-flex align-items-center">
        <i-tabler name="user" class="icon-18 d-flex"></i-tabler>
      </mat-icon> Mon Profil
    </a>
    <div class="p-x-12 m-t-12">
      <a [routerLink]="['/authentication/login']" mat-stroked-button color="primary" class="w-100">Logout</a>
    </div>
  </mat-menu>
</mat-toolbar>
