<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage Servers</h2>
          </div>
          <div class="col-sm-6">
            <button (click)="printReport()" type="button" class="btn btn-primary">Print Report</button>
            <button *ngIf="userRole === 'admin'" (click)="openModal()" type="button" class="btn btn-success">
              <i class="material-icons">&#xE147;</i> <span>New Server</span>
            </button>
            <span>
              <select (ngModelChange)="filterServers($event)" name="status" [(ngModel)]="filterStatus$" class="btn btn-info" style="height: 32.91px;">
                <option value="ALL">ALL</option>
                <option value="SERVER_UP">SERVER UP</option>
                <option value="SERVER_DOWN">SERVER DOWN</option>
              </select>
            </span>
          </div>
        </div>
      </div>
      <br>
      <ng-container *ngIf="appState$ | async as appState" [ngSwitch]="appState.dataState">
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
          <table class="table table-striped table-hover" id="servers">
            <thead>
              <tr>
                <th>IP Address</th>
                <th>Domain</th>
                <th>Name</th>
                <th>Memory</th>
                <th>Type</th>
                <th>Monitorable</th>
                <th>Status</th>
                <th *ngIf="userRole === 'admin'" >Ping</th>
                <th *ngIf="userRole === 'admin'" >Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let server of appState.appData.data.servers">
                <td>{{ server.ipAddress }}</td>
                <td>{{ server.domain }}</td>
                <td>{{ server.name }}</td>
                <td>{{ server.memory }}</td>
                <td>{{ server.type }}</td>
                <td>
                  <mat-slide-toggle [(ngModel)]="server.monitorable" (change)="updateMonitorable(server)">
                  </mat-slide-toggle>
                </td>

                <td>
                  <span class="badge" [ngClass]="server.status === 'SERVER_UP' ? 'badge-success' : 'badge-danger'">
                    {{ server.status === 'SERVER_UP' ? 'SERVER UP' : 'SERVER DOWN' }}
                  </span>
                </td>
                <td *ngIf="userRole === 'admin'">
                  <a (click)="pingServer(server.ipAddress)" style="cursor: pointer;">
                    <i *ngIf="(filterStatus$ | async) !== server.ipAddress" class="material-icons" title="Ping server">&#xe328;</i>
                    <i *ngIf="(filterStatus$ | async) === server.ipAddress" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                  </a>
                </td>
                <td *ngIf="userRole === 'admin'">
                  <a (click)="deleteServer(server)" class="delete" data-toggle="modal" style="cursor: pointer;">
                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.ERROR_STATE">
          <div class="alert-danger">
            {{ appState.error }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<!-- Modal for Adding a New Server -->
<div id="addEmployeeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Server</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
          <div class="form-group">
            <label for="serverId">ID</label>
            <input type="number" class="form-control" id="serverId" name="id" ngModel>
          </div>
          <div class="form-group">
            <label for="serverName">Server Name</label>
            <input type="text" class="form-control" id="serverName" name="name" ngModel required>
          </div>
          <div class="form-group">
            <label for="serverAddress">IP Address</label>
            <input type="text" class="form-control" id="serverAddress" name="ipAddress" ngModel required>
          </div>
          <div class="form-group">
            <label for="serverMemory">Memory</label>
            <input type="text" class="form-control" id="serverMemory" name="memory" ngModel required>
          </div>
          <div class="form-group">
            <label for="serverType">Type</label>
            <input type="text" class="form-control" id="serverType" name="type" ngModel required>
          </div>
          <div class="form-group">
            <label for="serverImageUrl">Image URL</label>
            <input type="text" class="form-control" id="serverImageUrl" name="imageUrl" ngModel required>
          </div>
          <div class="form-group">
            <label for="serverDomain">Domain</label>
            <input type="text" class="form-control" id="serverDomain" name="domain" ngModel required>
          </div>
          <div class="form-group">
            <label for="serverStatus">Status</label>
            <select class="form-control" id="serverStatus" name="status" ngModel required>
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DOWN">SERVER DOWN</option>
            </select>
          </div>
          <div class="form-group">
            <label for="serverCpuUsage">CPU Usage</label>
            <input type="number" class="form-control" id="serverCpuUsage" name="cpuUsage" ngModel required>
          </div>
          <div class="form-group">
            <label for="serverMemoryUsage">Memory Usage</label>
            <input type="number" class="form-control" id="serverMemoryUsage" name="memoryUsage" ngModel required>
          </div>
          <div class="form-group">
            <label for="serverNetworkBandwidth">Network Bandwidth</label>
            <input type="number" class="form-control" id="serverNetworkBandwidth" name="networkBandwidth" ngModel required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            <button type="submit" class="btn btn-primary">Save Server</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
