<div class="container">

    <div class="section">
      <h3>General</h3>
      <ul>
        <li><a href="#">Global Settings</a></li>
        <li><a href="#">Mail Settings</a></li>
        <li><a href="#">License Information</a></li>
        <li><a href="#">Proxy Configuration</a></li>
      </ul>
    </div>
  </div>
  <div class="admin-overview">
    <h1>Admin Overview</h1>
    <div class="cluster-statistics">
      <div class="stat">
        <h2>40,467,599</h2>
        <p>Documents</p>
      </div>
      <div class="stat">
        <h2>26.1GB</h2>
        <p>Primary Size</p>
      </div>
      <div class="stat">
        <h2>234</h2>
        <p>Total Shards</p>
      </div>
      <div class="stat">
        <h2>3</h2>
        <p>Data Instances</p>
      </div>
    </div>
    <div class="logstash-info">
      Logstash is currently collecting locally on: tcp6: 3515, 2056, 5544, 2057 udp6: 5544
    </div>
    <div class="version-info">
      <h2>Version Info</h2>
      <p>Nagios Log Server 2.0.0</p>
    </div>
    <router-outlet></router-outlet>
  </div>

